openapi: 3.2.0
info:
  version: 2.3.0
  title: Intelliworks Transaction Requests API
  description: The purpose of the Intelliworks Create Case API is to enable Case creation from outside Intelliworks environment, and to unlock a more efficient process for users, by reducing manual data entry.
  contact:
    name: API Support
    email: support@ochresoft.com
    x-phone-number: +44 (0)3300 366 700
servers:
- url: https://api.landmarkcloudservices.com/
  description: Production API
- url: https://uat-api.landmarkcloudservices.com/
  description: UAT API
security:
- bearerAuth: []
tags:
- name: Transaction Requests
  description: APIs for tracking asynchronous request status
paths:
  /transaction-requests/{transactionRequestId}:
    get:
      summary: Get transaction request status
      description: 'Returns the latest processing status for an asynchronous Experience API request identified by

        `transactionRequestId`. Supports create/update case, upsert task, upsert milestone, document upload, and future

        asynchronous endpoints. Use this endpoint to poll for completion when a webhook callback is not used or not received.'
      operationId: getTransactionRequestStatus
      tags:
      - Transaction Requests
      parameters:
      - name: transactionRequestId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/lgsUuid'
        description: Unique Experience API transaction request identifier returned by asynchronous endpoints
      responses:
        '200':
          description: Latest transaction request status found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionRequestStatusResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '500':
          $ref: '#/components/responses/500InternalServerError'
components:
  responses:
    404NotFound:
      description: Not Found
      headers:
        traceresponse:
          $ref: '#/components/headers/lgsTraceResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/lgsErrorResponse'
          examples:
            Entity not found:
              value:
                status: '404'
                code: '40401'
                title: Entity not found
    403Forbidden:
      description: Forbidden
      headers:
        traceresponse:
          $ref: '#/components/headers/lgsTraceResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/lgsErrorResponse'
          examples:
            Invalid Entitlement:
              value:
                status: '403'
                code: '40300'
                title: Invalid Entitlement
            No Entitlement:
              value:
                status: '403'
                code: '40301'
                title: No Entitlement
            No permission to entity:
              value:
                status: '403'
                code: '40302'
                title: No permission to entity
            User not registered:
              value:
                status: '403'
                code: '40303'
                title: User not registered
            Usage limit reached:
              value:
                status: '403'
                code: '40304'
                title: Usage limit reached
            Email account not verified:
              value:
                status: '403'
                code: '40305'
                title: Email account not verified
            Token expiry too long:
              value:
                status: '403'
                code: '40306'
                title: Token expiry too long
    401Unauthorized:
      description: Unauthorized
      headers:
        traceresponse:
          $ref: '#/components/headers/lgsTraceResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/lgsErrorResponse'
          examples:
            Invalid identity:
              value:
                status: '401'
                code: '40100'
                title: Invalid identity
    500InternalServerError:
      description: Internal Server Error
      headers:
        traceresponse:
          $ref: '#/components/headers/lgsTraceResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/lgsErrorResponse'
          examples:
            Resource not found:
              value:
                status: '500'
                code: '50000'
                title: Internal server error
                messages:
                - message: Sorry, something has gone wrong whilst processing your request. An error has been logged and our support team will investigate this shortly. Please try again later and if the issue persists, please contact your Account Manager referencing the value 00-199c8ce55dc743a88661498aa8eb2cfc--00.
    400BadRequest:
      description: Bad Request
      headers:
        traceresponse:
          $ref: '#/components/headers/lgsTraceResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/lgsErrorResponse'
          examples:
            Invalid content type supplied:
              value:
                status: '400'
                code: '40000'
                title: Invalid content type supplied
            Validation error:
              value:
                status: '400'
                code: '40001'
                title: Validation error
            Invalid traceparent http header:
              value:
                status: '400'
                code: '40002'
                title: Invalid trace header
            No matching data found:
              value:
                status: '400'
                code: '40003'
                title: No matching data found
            Invalid header:
              value:
                status: '400'
                code: '40004'
                title: Invalid header
            Third party error:
              value:
                status: '400'
                code: '40005'
                title: Third party error
  schemas:
    transactionRequestStatusResponse:
      type: object
      additionalProperties: false
      description: Latest status of an asynchronous Experience API transaction request
      required:
      - transactionRequestId
      - entityType
      - operationType
      - status
      - updatedDateUtc
      properties:
        transactionRequestId:
          $ref: '#/components/schemas/lgsUuid'
        transactionId:
          $ref: '#/components/schemas/lgsUuid'
        entityType:
          type: string
          enum:
          - Case
          - Milestone
          - Task
          - Document
        operationType:
          type: string
          enum:
          - Create
          - Update
          - Upload
        status:
          type: string
          enum:
          - Accepted
          - Queued
          - Processing
          - Completed
          - Failed
          description: Latest processing status for the transaction request.
        caseId:
          type:
          - string
          - 'null'
          maxLength: 25
          pattern: ^[a-zA-Z0-9@ :#$%^&+=*()_+-/]*$
        externalCaseId:
          type:
          - string
          - 'null'
          maxLength: 50
          pattern: ^[a-zA-Z0-9@ :#$%^&+=*()_+-]*$
        taskId:
          $ref: '#/components/schemas/lgsUuid'
        documentId:
          $ref: '#/components/schemas/lgsUuid'
        message:
          type:
          - string
          - 'null'
        errorMessage:
          type:
          - string
          - 'null'
        updatedDateUtc:
          type: string
          format: date-time
          description: UTC timestamp of the latest audit record for this transaction request
    lgsUuid:
      type: string
      format: uuid
      minLength: 36
      maxLength: 36
      pattern: ^[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[4][0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}$
    lgsErrorResponse:
      type: object
      additionalProperties: false
      required:
      - status
      - code
      - title
      properties:
        status:
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
        code:
          type: string
          minLength: 5
          maxLength: 5
          pattern: ^[0-9]{5}$
        title:
          type: string
          minLength: 1
          maxLength: 100
        messages:
          type: array
          maxItems: 100
          items:
            type: object
            additionalProperties: false
            required:
            - message
            properties:
              property:
                type: string
                minLength: 1
                maxLength: 1000
              message:
                type: string
                minLength: 1
                maxLength: 1000
  headers:
    lgsTraceResponse:
      description: Trace context providing an unique identifier for an individual requests
      schema:
        type: string
        minLength: 39
        maxLength: 39
        pattern: ^[0-9a-fA-F]{2}-[0-9a-fA-F]{32}--[0-9a-fA-F]{2}$
      examples:
        Example traceresponse:
          value: 00-199c8ce55dc743a88661498aa8eb2cfc--00
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: General
  tags:
  - Cases
  - Documents
  - Transaction Requests
